<html>
<head>
 <title>Kod Z6</title>
 <meta http-equiv="Content Type" content="text/html";charset="UTF-8"/>
</head>
 <body>
 <p>Kod HTML:</p>
 <textarea rows="20" cols="80">
<html>
<head>
<title>styl zewnetrzny</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <LINK href="km_z6.css" rel="stylesheet" 
type="text/CSS">
</head>
<body>
 <p> :) uśmiechnięta buźka </p>
:( smutna buźka
  <p>:o zaskoczenie</p>
 :P wytkniety język
 <p> -_- podejżliwość </p>
 ;) oczko
 </body>
 </html>
 </textarea>
 <p>Kod CSS:</p>
 <textarea cols="80" rows="10">
 body{
  color: purple;
  font-size: 30px;
}
p{
  color: white;
  font-size: 20px;
}
 </textarea>
 </body>
</html>
